<ion-view>
  <ion-content class="has-subheader padding" ng-controller="CategoryCtrl" ng-init="initCreate();">
    <h3 style="text-align: center">Create Category</h3>
    <hr>
    <form ng-submit="create()">
      Title
      <label class="item item-input">
        <input name="title" type="text" ng-model="title" id="title">
      </label>
      <br>
      Description
      <label class="item item-input">
        <textarea name="description" type="text" ng-model="description" id="description" rows="5"></textarea>
      </label>
      <br>
      <div ng-repeat="question in questions" for="question-{{question.num}}">
        Required Question {{question.num}}
        <label class="item item-input" >
          <input name="description" type="text" ng-model="question.content" id="question-{{question.num}}">
          <button class="button button-assertive" ng-click="deleteQuestion(question.num)">x</button>
        </label>
      </div>
      <br>
      <div class="form-group">
        <a class="button" ng-click="addQuestion()">
          Add Question
        </a>
      </div>
      <br>
      <div class="form-group">
        <input type="submit" value="Create" class="button">
      </div>
    </form>
  </ion-content>
</ion-view>
