<ion-view>
  <ion-content class="has-subheader item-text-wrap padding" ng-controller="CategoryCtrl" ng-init="find();">
    <div>
      <a ui-sref="app.create-category" class="button button-bar">Create New Category</a>
    </div>
    <div class="event-category" ng-repeat="eventCategory in eventCategories">
      <h5>{{eventCategory.title}}</h5>
      <div>
        {{eventCategory.description}}
      </div>
      <h6>Question List</h6>
      <p ng-repeat="question in eventCategory.questions">
        {{question}}
      </p>
      <a class="button button-small" ui-sref="app.edit-category({eventCategoryId: eventCategory._id})">Edit</a>
    </div>
  </ion-content>
</ion-view>
