<ion-view ng-controller="ProjectsController">
  <ion-content class="padding">
    <h3>Create Project:</h3>
    <h4>Pick a Category</h4>
    <div>
      <span>Step 2/3</span>
      <progress value="2" max="3"></progress>
    </div>
    <div>
      <form name="projectFormCategories" class="form-verical">
        <div class="form-group">
          <section>
            <div class="button-bar padding">
              <a class="button button-small {{ activeCategory.id == category.id ? 'active' : '' }}"
                 ng-click="setActiveCategory(category)" ng-repeat="category in categories">{{category.title}}</a>
            </div>
            <div class="category-description">
              {{activeCategory.description}}
            </div>
          </section>
        </div>
      </form>
      <button type="submit" ng-click="saveProjectCategory()">Next ></button>
    </div>
</ion-view>
