<ion-view>
  <ion-content class="has-subheader padding" ng-controller="ProjectsController">
    <h3 style="text-align: center">Create Project:</h3>
    <hr>
    <h4 style="text-align: center">Step 2/3: Pick a Category</h4>
    <div>
      <progress value="2" max="3"></progress>
    </div>
    <div>
      <form name="projectFormCategories" class="form-verical">
        <div class="form-group">
          <div class="button" data-toggle="buttons">
            <label class="{{ activeCategory._id == category._id ? 'active' : '' }}" ng-click="setActiveCategory(category)" ng-repeat="category in activeEvent.categories">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> {{category.title}}
            </label>
          </div>

          <div class="category-description">
            {{activeCategory.description}}
          </div>
        </div>
      </form>
      <button type="submit" ng-click="saveProjectCategory()">Next ></button>
    </div>
</ion-view>
