<ion-view>
  <ion-content class="has-subheader padding" ng-controller="ProjectsController" ng-init="loadUsers();">
    <h3 style="text-align: center">Create Project:</h3>
    <hr>
    <h4 style="text-align: center">Step 3/3: Add Team Members</h4>
    <div>
      <progress value="3" max="3"></progress>
    </div>

    <h4 style="text-align: center">Current Team</h4>
    <hr>
    <div class="row">
      <div class="col"><i class="icon ion-person"></i></div>
      <div class="col"><span ng-bind="owner.firstName"></span> <span ng-bind="owner.lastName"></span></div>
      <div class="col"><span ng-bind="owner.email"</span></div>
      <div class="col">Owner</div>
    </div>
    <div class="row" ng-repeat="member in team">
      <div class="col"><i class="icon ion-person"></i></div>
      <div class="col">{{member.firstName}} {{member.lastName}}</div>
      <div class="col">{{member.email}}</div>
      <div class="text-right"><button ng-click="removeMember(member)"><i class="icon ion-trash-a"></i></button></div>

    </div>
    <br>

    <h4 style="text-align: center">Add Members</h4>
    <hr>
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search">
      </label>
    </div>
    <div class="row" ng-repeat="user in users | filter: query" style="text-align: left">
      <div class="col"><i class="icon ion-person"></i></div>
      <div class="col">{{user.firstName}} {{user.lastName}}</div>
      <div class="col">{{user.email}}</div>
      <div class="col text-right"><button ng-click="addMember(user)"><i class="icon ion-plus"></i></button></div>
    </div>
    <br>

    <button ng-click="create()">Add Project</button>
  </ion-content>
</ion-view>

