<ion-view view-title="Projects" ng-init="find();">
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>
  <ion-content class="has-subheader item-text-wrap padding">
    <ion-list>
      <ion-item class="project-item" ng-repeat="project in projects | filter: query" href="#/app/projects/{{project._id}}">
        <h2>{{project.title}}</h2>
        <p>{{project.description.short}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
