<ion-view title="<img class='homelogo' src='img/Ultimate_Logo.png'/>">
  <div class="bar bar-subheader item-input-inset subheader-bar">
    <h4 class="title">48 Hours Hackathon</h4>
  </div>
  <ion-content class="has-subheader padding" ng-controller="ProjectsController" ng-init="findOne();">
    <div class="row">
      <div class="col col-8">
        <h1>{{project.title}}</h1>
        <p>Category: {{project.category}}</p>
      </div>
      <div class="pull-right">
        <qr text="QRProjectId" size="100"></qr>
      </div>
    </div>
    <div ng-show="project.youtube != null && project.youtube != ''">
      <iframe width="100%" height="300" ng-src="{{project.youtube}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>{{project.description.long}}</p>
    <div>
      <button ng-click="hasVoted ? unvote(project) : vote(project)"
              class="button button-block" ng-class="hasVoted ? 'unvoteButton' : 'voteButton'">
        <span>{{hasVoted ? 'Thanks for Voting!' : 'Vote!'}}</span>
      </button>
    </div>

    <h3 class="project-team">Team Members</h3>
    <ul class="team-list">
      <li>
        <i class="icon ion-person"></i> {{project.owner.firstName}} {{project.owner.lastName}} - <em>Owner</em>
      </li>
      <li ng-repeat="member in project.team">
        <i class="icon ion-person"></i> {{member.firstName}} {{member.lastName}} - <em>Member</em>
      </li>
    </ul>

    <h3>Comments (<span ng-bind="project.comments.length"></span>)</h3>
    <div class="clearfix" style="margin-bottom: 15px">
      <label class="item item-input" show-errors>
        <textarea name="comment" ng-model="comment" rows="5" class="form-control" placeholder="Please provide your feedback..." required></textarea>
      </label>
      <button class="button" ng-click="addComment()">Add Comment</button>
    </div>
    <div class="comments-list">
      <div class="card item-text-wrap padding" style="background-color: gainsboro" ng-repeat="comment in project.comments">
        <p>{{comment.content}}</p>
        <p>Posted by {{comment.user.firstName}} {{comment.user.lastName}} on {{comment.posted | date: 'MM/dd/yyyy hh:mm a'}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
