<ion-view ng-controller="ProjectsController" ng-init="findOne();">
  <ion-content class="padding">
    <h1>{{project.title}}</h1>
    <p>Category: {{project.category}}</p>
    <p>{{project.description.long}}</p>
    <div>
      <button ng-click="hasVoted ? unvote(project) : vote(project)"
              class="button button-block" ng-class="hasVoted ? 'unvoteButton' : 'voteButton'">
        <span>{{hasVoted ? 'Thanks for Voting!' : 'Vote!'}}</span>
      </button>
    </div>
  </ion-content>
</ion-view>
