<ion-view ng-controller="ProjectsController" ng-init="findOne();">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-8">
        <h1>{{project.title}}</h1>
        <p>Category: {{project.category}}</p>
      </div>
      <div class="pull-right">
        <qr text="projectid" size="100"></qr>
      </div>
    </div>
    <div ng-show="project.youtube != null">
      <iframe width="100%" height="300" ng-src="{{project.youtube}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>{{project.description.long}}</p>
    <div>
      <button ng-click="hasVoted ? unvote(project) : vote(project)"
              class="button button-block" ng-class="hasVoted ? 'unvoteButton' : 'voteButton'">
        <span>{{hasVoted ? 'Thanks for Voting!' : 'Vote!'}}</span>
      </button>
    </div>

    <h3 class="project-team">Team members</h3>
    <ul class="team-list">
      <li>
        <i class="icon ion-person"></i> <span ng-bind="project.owner.firstName"></span> <span ng-bind="project.owner.lastName"></span> - <em>Owner</em>
      </li>
      <li ng-repeat="member in project.team">
        <i class="icon ion-person"></i> <span ng-bind="member.firstName"></span> <span ng-bind="member.lastName"></span> - <em>Member</em>
      </li>
    </ul>
  </ion-content>
</ion-view>
