<ion-view title="<img class='homelogo' src='img/Ultimate_Logo.png'/>">
  <div class="bar bar-subheader item-input-inset subheader-bar">
    <h4 class="title">48 Hours Hackathon</h4>
  </div>
  <ion-content class="has-subheader padding" ng-controller="IdeasController" ng-init="find();">
    <h3 style="text-align: center">Ideas</h3>
    <hr>
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search">
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="idea in ideas | filter: query" href="#/app/ideas/{{idea._id}}">
        {{idea.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
