<ion-view>
  <ion-content class="has-subheader padding" ng-controller="IdeasController" ng-init="find();">
    <h3 style="text-align: center">Ideas</h3>
    <hr>
    <div class="bar item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search">
      </label>
    </div>
    <ion-list>
      <ion-item class="project-item item-button right" ng-repeat="idea in ideas | filter: query" href="#/app/ideas/{{idea._id}}">
        <h2>{{idea.title}}</h2>
        <p class="item-owner">by <span ng-bind="idea.owner.firstName"></span> <span ng-bind="idea.owner.lastName"></span></a><br></p>
        <p>{{idea.description.short}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
