<ion-view>
  <ion-content class="has-subheader padding" ng-controller="ArticleCtrl">
    <h3 style="text-align: center;">New Article</h3>
    <hr>
    <form name="articleForm">
      <div class="form-group" show-errors>
        <label class="item item-input" show-errors>
          <input type="text" name="title" class="form-control" ng-model="title" placeholder="Title" required>
        </label>
      </div>
      <br>
      <div class="form-group" show-errors>
        <label class="item item-input" show-errors>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </label>
      </div>
    </form>
    <button type="submit" ng-click="create(articleForm.$valid)">Publish Article</button>
  </ion-content>
</ion-view>
