<ion-view>
  <ion-content class="has-subheader padding" ng-controller="ArticleCtrl" ng-init="findOne();">
    <h3 style="text-align: center;">Edit Article</h3>
    <hr>
    <form name="articleForm">
      <div class="form-group" show-errors>
        <label class="item item-input" show-errors>
          <input type="text" name="title" class="form-control" ng-model="article.title" placeholder="Title" required>
        </label>
      </div>
      <br>
      <div class="form-group" show-errors>
        <label class="item item-input" show-errors>
          <textarea name="content" ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </label>
      </div>
    </form>
    <button type="submit" ng-click="update(articleForm.$valid)">Update Article</button>
  </ion-content>
</ion-view>
