<ion-view  hide-nav-bar="true" ng-controller="UserCtrl">
  <ion-nav-header class="bar login-header" align-title="center">
    <ion-title>
      <img class='homelogo' src='img/Ultimate_Logo.png'/>
    </ion-title>
  </ion-nav-header>
  <div class="bar bar-subheader item-input-inset subheader-bar">
    <h4 class="title">48 Hours Hackathon</h4>
  </div>
  <ion-content class="has-subheader">
    <div ng-if="error">{{error}}</div>
    <form ng-submit="signin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input required type="text" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input required type="password" ng-model="password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
