/* Login Page */

.login-header {
  background-color: #509e2f;
}

.login-button {
  background-color: #509e2f;
  color: white;
}

/* Global Header */
.header-bar {
  background-color: #509e2f;
}

.menu-bar {
  background-color: #509e2f;
}

.bar-subheader {
  background-color: gray;
}

#navicon {
  color: white;
}

.title {
  color: white;
}

/* Home */
.homelogo {
  margin-top: 7px;
  height: 30px;
}

.subheader-bar {
  background-color: #63666a;
}

.home-card {
  background-color: #509e2f;
}

.home-card h2 {
  color: white;
}

.home-card p {
  color: white;
}

/* Project List */
.project-item{
  margin-bottom:10px;
}

/* View Single Project */
.voteButton {
  background-color: #509E2F;
  color: white;
}

.unvoteButton {
  background-color: #63666A;
  color: white;
}
