.header-bar {
  background-color: #509e2f;
}

.menu-bar {
  background-color: #509e2f;
}

.bar-subheader {
  background-color: gray;
}

#navicon {
  color: white;
}

.title {
  color: white;
}

/* Home */
.homelogo {
  margin-top: 7px;
  height: 30px;
}

.subheader-bar {
  background-color: #63666a;
}

.home-card {
  background-color: #509e2f;
}

.home-card h2 {
  color: white;
}

.home-card p {
  color: white;
}
